<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판 목록</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>게시판 목록</h1>
<table border="1">
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${postList}">
    <td th:text="${post.id}">1</td>
    <td>
      <a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">제목</a>
    </td>
    <td th:text="${post.author}">작성자</td>
    <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}">작성일</td>
  </tr>
  </tbody>
</table>

<a th:href="@{/posts/new}">글쓰기</a>
</body>
</html>